.headerImage {
    padding-top: 45px;
    padding-bottom: 45px;
    margin-bottom: 0;
    background-image: url(images/header-breadboard.jpg);
}

.headerImage a {
    color: #5e1425;
    text-decoration: none;
    font-size: 3em;
    font-family: 'Times New Roman';
}

.headerImage a.small {
    color: #5e1425;
    text-decoration: none;
    font-size: 2em;
    font-style: italic;
    font-family: 'Times New Roman';
}

.headerImage a:hover {
    color: #5e1425;
    text-decoration: none;
    font-size: 3em;
    font-family: 'Times New Roman';
}

.headerImage a:active {
    color: #5e1425;
    text-decoration: none;
    font-size: 3em;
    font-family: 'Times New Roman';
}

.headerImage li a {
    color: #411111;
    font-size: 1.3em;
    font-style: italic;
    font-family: 'Times New Roman';
}

.headerImage li a:hover {
    color: #411111;
    font-size: 1.3em;
    font-style: italic;
    font-family: 'Times New Roman';
}

.headerImage li a:active {
    background-color: #411111;
    font-size: 1.3em;
    font-style: italic;
    font-family: 'Times New Roman';
}