body {
	font-family: 'Times New Roman';
    text-align: justify;
}

img {
    margin-left: auto;
    margin-right: auto;
}

no-margin-padding {
	margin: 0;
	padding: 0;	
}

.headerImage {
    text-shadow:
   -0.75px -0.75px 0.25px #ffffff,  
    0.75px -0.75px 0.25px #ffffff,
    -0.75px 0.75px 0.25px #ffffff,
     0.75px 0.75px 0.25px #ffffff;
    padding-top: 60px;
    padding-bottom: 60px;
    margin: 0;
    background-image: url(images/header-breadboard.jpg);
}

.headerImage a {
    color: #ff8c00;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Times New Roman';
}

.headerImage a:hover {
    color: #ff8c00;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Times New Roman';
}

.headerImage a:active {
    color: #ff8c00;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Times New Roman';
}

.headerImage a span.i {
    font-style: italic;
    font-size: 1.75em;
}

.headerImage a:hover span.i {
    font-style: italic;
    font-size: 1.75em;

}

.headerImage a:active span.i {
    font-style: italic;
    font-size: 1.75em;

}

.headerImage a span.b {
    color: #ffffff;
    text-shadow:
   -2px -2px 0 #ff8c00,  
    2px -2px 0 #ff8c00,
    -2px 2px 0 #ff8c00,
     2px 2px 0 #ff8c00;
    text-decoration: none;
    font-size: 3.5em;
    font-style: none;
    font-weight: bold;
    font-family: 'Times New Roman';
}

.headerImage a:hover span.b {
    color: #ffffff;
    text-shadow:
   -2px -2px 0 #ff8c00,  
    2px -2px 0 #ff8c00,
    -2px 2px 0 #ff8c00,
     2px 2px 0 #ff8c00;
    text-decoration: none;
    font-size: 3.5em;
    font-style: none;
    font-weight: bold;
    font-family: 'Times New Roman';
}

.headerImage a:active span.b {
    color: #ffffff;
    text-shadow:
   -2px -2px 0 #ff8c00,  
    2px -2px 0 #ff8c00,
    -2px 2px 0 #ff8c00,
     2px 2px 0 #ff8c00;
    text-decoration: none;
    font-size: 3.5em;
    font-style: none;
    font-weight: bold;
    font-family: 'Times New Roman';
}

.headerImage ul li a {
    color: #ff8c00;
    font-size: 1.75em;
    font-style: italic;
    font-weight: bold;
    font-family: 'Times New Roman';
}

.headerImage ul li ul li a {
    color: #ff8c00;
    font-size: 1.75em;
    font-style: italic;
    font-weight: bold;
    font-family: 'Times New Roman';
}

.headerImage ul li a:hover {
    background-color: #2c92dd;
    color: #ff8c00;
    font-size: 1.75em;
    font-style: italic;
    font-weight: bold;
    font-family: 'Times New Roman';
}

.headerImage ul li ul li a:hover {
    background-color: #2c92dd;
    color: #ff8c00;
    font-size: 1.75em;
    font-style: italic;
    font-weight: bold;
    font-family: 'Times New Roman';
}

.headerImage ul li a:focus {
	background-color: #ffffff;
    color: #ff8c00;
    font-size: 1.75sem;
    font-style: italic;
    font-weight: bold;
    font-family: 'Times New Roman';
}

.headerImage ul li ul li a:focus {
	background-color: #ffffff;
    color: #ff8c00;
    font-size: 1.75sem;
    font-style: italic;
    font-weight: bold;
    font-family: 'Times New Roman';
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; // remove the gap so it doesn't close
 }

.mainImage {
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0;
    background-color: #2C92DD;
}

.mainImage p {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.25em;
    font-family: 'Times New Roman';
}

.stripe {
    background-color: #ff8c00;
    margin: 0;
    padding: 0;
    height: 30px;
}

.footerBackground {
    background-color: #ff8c00;
    margin: 0;
}

.footerImage {
	color: #ffffff;
	font-size: 1.25em;
	font-style: italic;
	text-align: center;
    text-shadow:
   -0.75px -0.75px 0.25px #ff8c00,  
    0.75px -0.75px 0.25px #ff8c00,
    -0.75px 0.75px 0.25px #ff8c00,
     0.75px 0.75px 0.25px #ff8c00;
    padding-top: 60px;
    padding-bottom: 60px;
	background-image: url(images/footer-trumpet.png);
    background-position: center;
}

.aboutMeImage {
	padding-top: 15%;
    padding-bottom: 75%;
	position: relative;
    height: 50%;
    overflow: hidden;
    background-position: center;
  	background-size: contain;
  	background-image: url(images/about-me.jpg);
  	background-repeat: no-repeat;
}

.projectsImage {
	padding-top: 15%;
    padding-bottom: 75%;
	position: relative;
    height: 50%;
    overflow: hidden;
    background-position: center;
  	background-size: contain;
	background-image: url(images/sinking-bridge.png);
	background-repeat: no-repeat;
}

.resumeImage {
	padding-top: 15%;
    padding-bottom: 75%;
	position: relative;
    height: 50%;
    overflow: hidden;
    background-position: center;
  	background-size: contain;
	background-image: url(images/resume-image.png);
	background-repeat: no-repeat;
}

.contactMeImage {
	padding-top: 15%;
    padding-bottom: 75%;
	position: relative;
    height: 50%;
    overflow: hidden;
    background-position: center;
  	background-size: contain;
	background-image: url(images/contact-me.png);
	background-repeat: no-repeat;
}

.boxContent {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.mainImage a.title{
	color: #ff8c00;
	font-family: 'Times New Roman';
	font-size: 3em;
	text-align: center;
	text-decoration: none;
    font-weight: bold;
	text-shadow:
   -0.75px -0.75px 0.25px #ffffff,  
    0.75px -0.75px 0.25px #ffffff,
    -0.75px 0.75px 0.25px #ffffff,
     0.75px 0.75px 0.25px #ffffff;
}

.mainImage a:hover.title {
	color: #ff8c00;
	font-family: 'Times New Roman';
	font-size: 3em;
	text-align: center;
	text-decoration: none;
    font-weight: bold;
	text-shadow:
   -0.75px -0.75px 0.25px #ffffff,  
    0.75px -0.75px 0.25px #ffffff,
    -0.75px 0.75px 0.25px #ffffff,
     0.75px 0.75px 0.25px #ffffff;
}

.mainImage span {
	text-decoration: underline;
	font-weight: bold;
}

.mainImage h1 {
	color: #ff8c00;
	font-size: 1.75em;
	font-family: 'Times New Roman';
	font-weight: bold;
}

.project1image {
	padding-top: 70%;
    padding-bottom: 20%;
	position: relative;
    height: 50%;
    overflow: hidden;
    background-position: center;
  	background-size: contain;
	background-image: url(images/projects/1.png);
	background-repeat: no-repeat;
}

.project2image {
	padding-top: 70%;
    padding-bottom: 20%;
	position: relative;
    height: 50%;
    overflow: hidden;
    background-position: center;
  	background-size: contain;
	background-image: url(images/projects/2.png);
	background-repeat: no-repeat;
}

.project3image {
	padding-top: 70%;
    padding-bottom: 20%;
	position: relative;
    height: 50%;
    overflow: hidden;
    background-position: center;
  	background-size: contain;
	background-image: url(images/projects/3.jpeg);
	background-repeat: no-repeat;
}

.project4image {
	padding-top: 70%;
    padding-bottom: 20%;
	position: relative;
    height: 50%;
    overflow: hidden;
    background-position: center;
  	background-size: contain;
	background-image: url(images/projects/4.jpg);
	background-repeat: no-repeat;
}

.project5image {
	padding-top: 70%;
    padding-bottom: 20%;
	position: relative;
    height: 50%;
    overflow: hidden;
    background-position: center;
  	background-size: contain;
	background-image: url(images/projects/5.png);
	background-repeat: no-repeat;
}

.project6image {
	padding-top: 70%;
    padding-bottom: 20%;
	position: relative;
    height: 50%;
    overflow: hidden;
    background-position: center;
  	background-size: contain;
	background-image: url(images/projects/6.png);
	background-repeat: no-repeat;
}

.mainImage a.button {
	background-color: #ffffff;
	color: #ff8c00;
	font-family: 'Times New Roman'
	text-decoration: none;
	font-size: 1.5em;
	text-align: center;
}

.mainImage a:hover.button {
	background-color: #ff8c00;
	color: #2C92DD;
	font-family: 'Times New Roman'
	text-decoration: none;
	font-size: 1.5em;
	text-align: center;
}

.mainImage h2 {
	color: #ffffff;
	font-size: 2em;
	font-family: 'Times New Roman';
	font-weight: bold;
	text-align: center;
}

.mainImage h3 {
	color: #ffffff;
	font-size: 1.25em;
	font-family: 'Times New Roman';
	text-align: center;
}