.headerImage {
	text-shadow:
   -0.75px -0.75px 0.25px #ffffff,  
    0.75px -0.75px 0.25px #ffffff,
    -0.75px 0.75px 0.25px #ffffff,
     0.75px 0.75px 0.25px #ffffff;
    padding-top: 45px;
    padding-bottom: 45px;
    margin-bottom: 0;
    background-image: url(images/header-breadboard.jpg);
}

.headerImage a {
    color: #ffffff;
    color: rgba(0, 0, 0, 0);
   -2px -2px 0px #ff8c00,  
    2px -2px 0px #ff8c00,
    -2px 2px 0px #ff8c00,
     2px 2px 0px #ff8c00;
    text-decoration: none;
    font-size: 3.5em;
    font-weight: bold;
    font-family: 'Times New Roman';
}

.headerImage a span {
    color: #ff8c00;
    text-decoration: none;
    font-size: .75em;
    font-style: italic;
    font-family: 'Times New Roman';
}

.headerImage a:hover {
    color: #ff8c00;
    text-decoration: none;
    font-size: 3.5em;
    font-weight: bold;
    font-family: 'Times New Roman';
}

.headerImage a:active {
    color: #ff8c00;
    text-decoration: none;
    font-size: 3.5em;
    font-weight: bold;
    font-family: 'Times New Roman';
}

.headerImage li a {
    color: #ff8c00;
    font-size: 1.75em;
    font-style: italic;
    font-weight: bold;
    font-family: 'Times New Roman';
}

.headerImage li a:hover {
    color: #ff8c00;
    font-size: 1.75em;
    font-style: italic;
    font-weight: bold;
    font-family: 'Times New Roman';
}

.headerImage li a:active {
    background-color: #ff8c00;
    font-size: 1.75sem;
    font-style: italic;
    font-weight: bold;
    font-family: 'Times New Roman';
}

.mainImage {
	padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 0;
	background-color: #2C92DD;
}

.mainImage p {
	color: #ffffff;
	text-decoration: none;
    font-size: 1.75em;
    font-family: 'Times New Roman';
}

.mainImage img {
	
}